@{
    ViewData["Title"] = "PictureSave";
}

<h1>PictureSave</h1>

<form asp-controller="Home" asp-action="PictureSave" enctype="multipart/form-data" method="post">
    <input type="file" name="file"/> 

    <button type="submit">Upload File</button>
</form>
